<div class="banner-sektion banner-overlay ">
  <div class="container text-center">
    <div class="col-md-12">
      <div class="banner-heading ">
        <h2>Just take care of your work </h2>
        <P> Project managers are the point person in charge of a specific project or projects within an organization.</P>
        <button type="button" class="btn btn-default site-btn" routerLink="/list">START</button>
      </div>
      <div class="my-4 aos-init" data-aos="fade-up">
        <p class="lead text-white">Easily create manage projects,data in less time and zero coding!</p>
      </div>
    </div>
  </div>
  </div>
